html,
body {
    height: 100%;
}

a {
    color: #006;
}

body {
    background-color: #f5f5f5;
}

.big-checkbox {
    width: 50px;
    height: 50px;
}

input[type="number"] {
    width: 60px;
}

.result {
    width: 10%;
}

.result.hidden{
    display: none;
}

